body {
    background-color: grey;
}

header {
    background-color: white;
    text-align: center;
    color: grey;
    margin: 10px;
    padding: 40px;
    
}

nav {
    background-color: white;
    text-align: center;
    color: grey;
    margin: 10px;
    padding: 40px;
}

footer {
    background-color: white;
    text-align: center;
    color: grey;
    margin: 10px;
    padding: 40px;
    
}

section {
    background-color: white;
    text-align: center;
    color: grey;
    margin: 10px;
    padding: 40px;
    float: left;
    width: 55%;
    
}

article {
    background-color: grey;
    color: white;
    padding: 70px;
    padding-top: 20px;
    padding-bottom: 10px;
    
}

h1 {
    background-color: white;
    color: grey;
    padding: 20px;
    margin-left: -50px;
    margin-right: -50px;
    margin-bottom: -5px;
}

p {
    background-color: white;
    color: grey;
    padding: 20px;
    margin-left: -50px;
    margin-right: -50px;
    
}

aside {
    background-color: white;
    text-align: center;
    color: grey;
    margin: 10px;
    padding: 40px;
    

}
