body {
    background-color: grey;
    margin-right: 200px;
    margin-left: 200px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    
}

header {
    background-color: white;
    color: grey;
    text-align: center;
    margin: 10px;
    padding: 20px;
    clear: both;
    
}

nav {
    background-color: white;
    color: grey;
    text-align: center;
    margin: 10px;
    padding: 20px;
    clear: both;
    
}

#section {
    margin: 10px;
    float:left;
    width: 550px;
    
    
    
}
section {
    background-color: white;
    color: grey;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 10px;

    
}

article {
    background-color: grey;
    color: white;
    text-align: center;
    margin: 20px;
    padding: 5px;
    padding-top: 15px;

}

h1 {
    background-color: white;
    color: grey;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    
    
}

p{
    background-color: white;
    color: grey;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    
}


aside {
    background-color: white;
    color: grey;
    text-align: center;
    margin: 10px;
    float: right;
    width: 450px;
    padding-top: 35px;
    padding-bottom: 240px; 
    
    
    
    
}

footer {
    background-color: white;
    color: grey;
    text-align: center;
    margin: 10px;
    padding: 20px;
    clear: both;
    
    
}